@using Mvc.Mailer;

<tr>
    <td><h3 style="font-family:Segoe, 'Segoe UI', 'Arial', sans-serif; margin:30px;">Greetings from Mercadia!</h3></td>
</tr>
<tr>
    <td>
        <p style="font-family:Segoe, 'Segoe UI', 'Arial', sans-serif; margin:0 30px 20px;text-align:center;">
            You have asked us to reset your password.
        </p>
    </td>
</tr>
<tr>
    <td>
        <p style="font-family:Segoe, 'Segoe UI', 'Arial', sans-serif; margin:20px 30px 0; text-align:center;">
            <strong>Your new password is:</strong>
        </p>
        <p style="font-family:Segoe, 'Segoe UI', 'Arial', sans-serif;color:#FF9046; font-weight:700; font-size:32px; text-align:center; margin:0;">
            @ViewBag.NewPassword
        </p>

        <p style="font-family:Segoe, 'Segoe UI', 'Arial', sans-serif; margin:15px 30px 30px; text-align:center;">
        You can now use this new password to login to Mercadia and continue enjoying our services.
        </p>
    </td>
</tr>
<tr>
    <td>
        <p style="font-family:Segoe, 'Segoe UI', 'Arial', sans-serif; margin:0 30px 20px;">For questions or concerns please don't hesitate to contact us at <a href="@Url.Abs("/")">support.mercadia@gmail.com</a></p>
    </td>
</tr>
