@model Mercadia.Web.ViewModels.StoresViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_CenterLayout.cshtml";
}

<header class="page-header">
    <h1 class="page-title">Mercadia</h1>
</header>

<div class="jumbotron top-space">
    <h4>
        If you are a seller, you can easily create your own store and start setting up your products here in Mercadia.
        Learn how to easily manage your store and reach more customers. Also, get to know how Mercadia can help you with
        sales reports.
    </h4>
    <p class="text-right"><a class="btn btn-primary btn-large">Learn more »</a></p>
</div>


@if (Model.Stores != null && Model.Stores.Count > 0)
{
<div class="jumbotron top-space">
    <div class="container">

        <h3 class="text-center thin">Your Stores</h3>
        @{
            float itemsPerRow = 4;
            float totalItems = (float)(Model.Stores.Count);
            float rws = (totalItems / itemsPerRow);
            var rows = Math.Ceiling((decimal)rws);

            if (rows == 1) {                 
                rows = 2;
            }

            for (int i = 0; i < (rows - 1); i++)
	        {

        <div class="row">            
            @{
                foreach (Mercadia.Infrastructure.DTO.Stores.StoreResponseDto store in Model.Stores.Skip(i * 4))
                {
                    <div class="col-md-3 col-sm-6 highlight">
                        <div class="h-caption"><img src="@store.ProfilePic" alt="@store.Name" style="width:100px;height:100px;" /><h4>@store.Name</h4></div>
                        <div class="h-body text-center">
                            <p>@store.Description</p>
                        </div>
                        <div class="h-caption"><a class="btn-link" href="~/account/login">MANAGE</a></div>
                    </div>
                }

            }
        </div> <!-- /row  -->
        }
        }
    </div>
</div>
}