@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<aside class="col-md-4 sidebar sidebar-left">

    <div class="row widget">
        <div class="col-xs-12">
            <h4>Stores</h4>
            <p>
                Search for member stores. Our partner stores always have new items coming in regularly. Do checkout their
                amazing promos and watch out for regular free gift items.
            </p>
        </div>
    </div>
    <div class="row widget">
        <div class="col-xs-12">
            <h4>Lorem ipsum dolor sit</h4>
            <p><img src="~/content/main/images/1.jpg" alt=""></p>
        </div>
    </div>
    <div class="row widget">
        <div class="col-xs-12">
            <h4>Lorem ipsum dolor sit</h4>
            <p><img src="~/content/main/images/2.jpg" alt=""></p>
            <p>Qui, debitis, ad, neque reprehenderit laborum soluta dolor voluptate eligendi enim consequuntur eveniet recusandae rerum? Atque eos corporis provident tenetur.</p>
        </div>
    </div>

</aside>
<!-- /Sidebar -->
<!-- Article main content -->
<article class="col-md-8 maincontent">

    <h2 style="margin-left:15px;">Mercadia</h2>
    <div class="dv-landing-banner">
        <div class="container">
            <div class="dv-landing-banner-img">
                <span>This is an effort to bring local sellers into the open market of the internet</span>
            </div>
            <div id="carousel-landing" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-landing" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-landing" data-slide-to="1"></li>
                    <li data-target="#carousel-landing" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <h4>Habitant dicta primis turpis.</h4>
                        <h1><span class="glyphicon glyphicon-send"></span><br />Mollis, consequatur cras senectus, ullamcorper feugiat urna impedit.</h1>
                        <p>Arcu dicta excepturi labore aptent, cursus, habitasse tempora, itaque? Repellendus earum proin cumque, tenetur? Nulla reprehenderit magni facilisis aliqua aute.</p>
                    </div>
                    <div class="item">
                        <h4>Nam itaque, vitae mollit excepteur ligula nunc quasi, distinctio hac.</h4>
                        <h1><span class="glyphicon glyphicon-time"></span><br />Incididunt hac, voluptates integer assumenda.</h1>
                        <p>Adipisicing platea quibusdam quis conubia per, dui? Nostrud occaecati. Primis ullamcorper libero itaque, ut exercitation, sociis! Magni inceptos! Ex fusce? Incididunt rutrum, leo dignissimos suscipit.</p>
                    </div>
                    <div class="item">
                        <h4>Adipisicing commodi aperiam cillum</h4>
                        <h1><span class="glyphicon glyphicon-ok"></span><br />Sagittis rhoncus potenti eos</h1>
                        <p>Repellat quos cras, porta ut erat eum exercitationem necessitatibus excepturi iusto, numquam doloremque ultrices lacus nihil? Nostrum necessitatibus! Explicabo maxime, qui. Mollit tenetur class, lacinia malesuada assumenda lobortis dis nisi suspendisse laudantium montes voluptatem debitis similique tenetur, nostrum minus, eum provident pulvinar tempore venenatis magnam velit distinctio dui, ea sint.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>